* {                         //Pour tout réinitialiser
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#mainContainer {            //Contient toutes les sections
    position: relative;
    width: 100vw;
    height: 100vh;

    section {               //Règles communes à toutes les sections
        display: block;
        position: absolute;
        width: 50%;
        height: 50%;
        text-align: justify;
    }
    .hoovable:hover {        //Survol du menu principal
        width: 51%;
        height: 51%;
        z-index: 2;
    }

    #logo {                 //Logo du menu principal
        position: absolute;
        width: 107px;
        height: 177px;
        top: 50%;
        left: 50%;
        padding: 5px;
        transform: translate(-50%, -50%);
        z-index: 3;
        border: dotted 0.1em black;
        background-color: grey;
        overflow: hidden;
        border-radius: 5em;
        &:hover {
            border: solid 0.2em purple;
        }
    }
    h2 {                    //Titres des sections
        width: 100%;
        margin-top: 30%;
        text-align: center;
    }
    #contentA, #contentB, #contentC, #contentD {    //Contenu suivant le titre
        overflow: scroll;
        height: 0;
    }
    #sectionA {
        top: 0;
        left: 0;
        background-color: lightblue;
        border: solid 2px blue;
    }
    #sectionB {
        top: 0;
        right: 0;
        background-color: pink;
        border: solid 2px red;
    }
    #sectionC {
        bottom: 0;
        left: 0;
        background-color: lemonchiffon;
        border: solid 2px yellow;
    }
    #sectionD {
        bottom: 0;
        right: 0;
        background-color: aquamarine;
        border: solid 2px green;
    }
}